* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

/* headersite-area */
nav {
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-side {
    float: right;
    margin: 200px 200px;
}

.heading-side h1 {
    width: 500px;
    text-align: right;
    font-size: 80px;
    font-weight: 900;
    color: aliceblue;
    margin-bottom: 10px;
}
.heading-side p{
    font-size:21px;
    font-weight: 400;
    text-align: right;
    width: 500px;
    color: rgb(241, 238, 238);
    margin-bottom: 15px;
    
}
.btn-primasry{
    float:right;
    width: 150px 150px;
    background-color: darkgoldenrod;
    padding: 15px 30px;
    border: 0;
    font-size: 28px;
    font-weight: 600;
    color: rgb(255, 253, 253);
    border-radius: 8px;

    }
    section{
        margin-top: 180px;
        
    }
    /* failer-aresection */
    .failures-area{
        display: flex;
        gap: 25rem;
        align-items: center;
        margin-left: 150px;
        
    }
    .failures-textare{
        
    }
    .heading-titel{
        font-size: 3rem;
        font-weight: 500px;
        width: 380px;
        text-align: left;
    }
    .heading-pragrapah{
        font-size: 1rem;
        width: 350px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .option-bar ul, li{
        list-style: none;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .option-bar input{
        margin-right: 10px;
    }
    /* My Plans area */
    .plan-brfo{
        text-align: center;
        margin-bottom: 120px;
        font-size: 50px;
        font-weight: 600;
    }
    .mesurment{
        background-color: aqua;
        height: 80vh;
        margin-left: 120px;
        margin-right: 120px;
        
    }
    .plans-group{
       
        display: flex;
        gap: 80px;
    }
    .web-devosit{
        margin: 0px auto;
        text-align: center;
        margin-bottom: 130px;
    }
    .sub-info{
        font-size: 25px;
        font-weight: 800;
    }
    .subinfo-title{
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
    }
     /* keep a positive   */
     .positive-area{
        border: 1px  solid royalblue;
        height: 180px;
        width: 100%;
        padding: 38px;
     }
.btn-primary{
    float:
    width: 150px 150px;
    background-color: darkgoldenrod;
    padding: 10px 30px;
    border: 0;
    font-size: 28px;
    font-weight: 600;
    color: rgb(255, 253, 253);
    border-radius: 8px;
}
.positive-info{

}